.send-me .form-default {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  padding-top: 61px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
section.send-me input.wpcf7-form-control.wpcf7-submit.has-spinner.btn-default {
  color: #0055aa !important;
  border: 1px solid #0055aa !important;
  font-size: 15px !important;
}
.contact .form-default .btn-default:hover {
  border: 0;
}
/* .contact .form-default .btn-default {
  color: #0055aa !important;
} */
section.send-me .btn-default:hover {
  background: #fff !important;
  color: #fff !important;
}
.send-me .form-wrap {
  justify-content: unset !important;

  gap: 90px !important;
}

section.cookies.cookies_boxs {
  display: none;
}
span.post.post-page.current-item {
  width: fit-content;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #c49f61;
}
ul.breadcrumb span {
  color: #626262;
}
.text-deck.text-black {
  color: #000;
}
/*form full charter*/
section.banner-form.pb-30 {
  padding-top: 30px !important;
}
.banner-form .form-clearfix {
  width: 640px;
  margin: auto;
  padding-top: 50px;
}
.style-form .panel,
.page .heed-help .panel,
.page .on-request .panel,
.page .agencies .panel {
  padding-left: 0;
  padding-right: 0;
}
.panel-default {
  border-color: #ddd;
}
.panel-heading {
  background: #0556a1;
  font-size: 24px;
  color: #fff;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.text-center {
  text-align: center;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.panel-default > .panel-heading {
  border-color: #ddd;
}
.panel-body {
  padding: 15px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.required {
  color: red !important;
}
.radio,
span.wpcf7-list-item.first {
  position: relative;
}
textarea.form-control {
  height: auto;
  overflow: auto;
}
.button-cont-form {
  color: #fff;
  font-size: 18px;
  float: right !important;
  background: #e42426;
  outline: none;
  border: none;
  padding: 10px 70px;
}
.form-group.massage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.full-c textarea#message {
  width: 100%;
  height: 150px;
}
.form-group.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* input.wpcf7-form-control.wpcf7-submit.has-spinner {
  color: #fff;
  font-size: 18px;
  font-family: helveticaneue-bold;
  background: #e42426;
  outline: none;
  border: none;
  padding: 10px 70px;
  border-radius: 7px;
} */

/**/
/*Flight*/
table.table.table-bordered.table-condensed.table-hover.table-striped.table-responsive {
  margin-top: 20px;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.content-text__description table tbody tr td {
  padding: 15px;
  vertical-align: top;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.title-mt {
  margin-top: 53px;
}
.decor-link .table a {
  color: red;
}
.decor-link .table a:hover {
  color: rgba(255, 0, 0, 0.616);
}
/**/
.calendar-img img.attachment-full.size-full {
  width: 100%;
}
